.bannerImg {
    height: 45vh;
    background-image: url("../images/detailsImg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 4rem;
    color: #000054;
    text-shadow: 2px 2px 4px #DECB85;
    font-family: 'Mea Culpa', cursive;
    padding: 1rem;
}

@media only screen and (max-width: 1400px) {
    .bannerImg {
        font-size: 3rem;
    }
}