.slideOne {
    height: 100vh;
    text-align: center;
    line-height: 10rem;
    font-size: 3rem;
    font-family: 'Mea Culpa', cursive; 
    color: #000054;
    background-image: url("../images/SlideOne.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideTwo {
    height: 100vh;
    text-align: center;
    line-height: 10rem;
    font-size: 3rem;
    font-family: 'Mea Culpa', cursive; 
    color: #000054;
    background-image: url("../images/SlideTwo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideThree {
    height: 100vh;
    text-align: center;
    line-height: 10rem;
    font-size: 3rem;
    font-family: 'Mea Culpa', cursive; 
    color: #000054;
    background-image: url("../images/SlideThree.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideFour {
    height: 100vh;
    text-align: center;
    line-height: 10rem;
    font-size: 3rem;
    font-family: 'Mea Culpa', cursive;
    color: #000054;
    background-image: url("../images/SlideFour.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.heading {
    font-size: 7rem;
    margin-top: 1.5rem;
}

.btn {
    color: #000054;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px 4px #DECB85;
    margin-top: 20rem;
    display: none;
}

.subTitle {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 1em;
    color: #000054;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px #DECB85;
}

.btn:hover {
    color: #DECB85;
    background-color: transparent;
}

@media screen and (max-width: 1160px) {
    .subTitle {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 580px) {
    .slideOne, .slideTwo, .slideThree, .slideFour {
        line-height: normal;
    }

    .slideTwo, .slideThree {
        background-position: 40%;
    }

    .heading {
        font-size: 4rem;
    }
   
  }

@media screen and (max-height: 820px) {
    .slideOne, .slideTwo, .slideThree, .slideFour {
        line-height: 5.5rem;
    }  
}