.titleWrapper {
    text-align: center;
    font-size: 3rem;
    min-width: 10rem;
    color: #000054;
    margin: auto;
    width: 50%;
    border: 0.25rem solid #000054;
    border-radius: 2rem;
    padding-bottom: 1rem;
}

.subText {
    font-size: 1.2rem;
    color: #7A0D17;
    margin: 1rem;
    text-align: center;
}

.btnClass {
    color: #000054;
    font-size: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px 4px #DECB85;
}

.btnClass:hover {
    color: #000054;
    background-color: transparent;
}

@media only screen and (max-width: 580px) {
    .btnClass {
        font-size: 1.5rem;
        width: 8rem;
    }
}